.card {
    width: 250px;
    background-color: rgb(243 244 246);
    cursor: pointer;
    position: relative;
}

.product__card__name {
    font-size: 1.25rem;
    /* 20px */
    line-height: 1.75rem;
    /* 28px */
    padding-left: 0.75rem;
    /* 12px */
    padding-right: 0.75rem;
    /* 12px */
}

.product__card__price {
    font-size: 1.5rem;
    /* 24px */
    line-height: 2rem;
    /* 32px */
    padding-left: 0.75rem;
    /* 12px */
    padding-right: 0.75rem;
    /* 12px */
}

.admin__handler {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    display: flex;
    gap: 0.50rem;
    align-items: center;
}

.admin__handler svg {
    font-size: 24px;
    cursor: pointer;
}