.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e6e7e9;
    height: 4rem;
    padding: 0 1.25rem;
}

.logo{
    font-size: 2rem;
    cursor: pointer;
}

.header__actions{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.search{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search input{
    padding: 0.75rem;
    outline: none;
    border: none;
    font-size: 1rem;
}

.search__button{
    padding: 0.75rem;
    background-color: #fff;
    cursor: pointer;
    border: none;
    font-size: 1rem;
}

.user__profile{
    position: relative;
}

.user__profile img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 9999px;
    cursor: pointer;
} 

.user__profile__card {
    position: absolute;
    right: 0;
    margin-top: 0.75rem;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.user__profile__item {
    padding: 0.50rem 0.25rem;
    cursor: pointer;
}

.user__profile__item:hover {
    background-color:#f3f4f6;
}

.basket{
    position: relative;
    cursor: pointer;
}

.basket__icon{
    width: 2.5rem;
    height: 2.5rem;
}

.basket span {
    position: absolute;
    font-size: 1.5rem;
    top: -0.5rem;
    right: -0.5rem;
    width: 1.25rem;
    height: 1.25rem;
    background-color: red;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
}